{% extends "base.html" %} {% block card %}
<h2 class="fw-bold fs-3 text-white">Dashboard Page</h2>

<div class="pe-3">
  <a href="/" class="btn btn-success gap-2">
    <i class="bi bi-browser-edge"></i>
    View Pages
  </a>
</div>
{% endblock %} {% block content %}
<div class="card bg-light-subtle shadow border-0 rounded-3">
  <canvas class="my-4 w-100 px-3" id="animeChart" width="800" height="280"></canvas>
</div>
{% endblock %} {% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      const ctx = document.getElementById('animeChart').getContext('2d');
      const studios = {{ studios|tojson }};
      const genres = {{ genres|tojson }};
      const anime = {{ anime|tojson }};

      console.log("Studios: ", studios);
      console.log("Genres: ", genres);
      console.log("Anime: ", anime);

      const studioCounts = studios.map(studio => ({
          name: studio.name,
          count: anime.filter(a => a.studio_id === studio.id).length
      }));

      const genreCounts = genres.map(genre => ({
          name: genre.name,
          count: anime.filter(a => Array.isArray(a.genres) && a.genres.includes(genre.name)).length
      }));

      const animeChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [...studioCounts.map(sc => sc.name), ...genreCounts.map(gc => gc.name)],
              datasets: [{
                  label: 'Anime per Studio',
                  data: studioCounts.map(sc => sc.count),
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }, {
                  label: 'Anime per Genre',
                  data: genreCounts.map(gc => gc.count),
                  backgroundColor: 'rgba(153, 102, 255, 0.2)',
                  borderColor: 'rgba(153, 102, 255, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  });
</script>
{% endblock %}
