{% extends "base.html" %} {% block card %}
<h2 class="fw-bold fs-3 text-white ps-3">Create New Anime</h2>
<div class="pe-3">
  <a href="/animes" class="btn btn-warning gap-2">
    <i class="bi bi-arrow-left"></i>
    Back
  </a>
</div>
{% endblock %} {% block content %}
<div class="card bg-light-subtle shadow border-0 rouded-3">
  <form method="post" action="/anime-create" class="p-4">
    <div class="mb-3 input-group">
      <div class="col-6 ps-2">
        <label for="title" class="form-label fw-medium mb-3">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="" placeholder="One Piece" autofocus required />
        <div class="invalid-feedback">Please provide a valid title.</div>
      </div>
      <div class="col-6 ps-2 mb-3">
        <label for="author" class="form-label fw-medium">Author</label>
        <input type="text" class="form-control mt-2" id="author" name="author" value="" placeholder="Elmo" autofocus required />
        <div class="invalid-feedback">Please provide a valid author.</div>
      </div>
      <div class="col-6 ps-2">
        <label for="season" class="form-label fw-medium">Season</label>
        <input type="number" class="form-control" id="season" name="season" value="" placeholder="1" min="1" autofocus required />
        <div class="invalid-feedback">Please provide a valid season.</div>
      </div>
      <div class="col-6 ps-2 mb-3">
        <label for="episodes" class="form-label fw-medium">Episodes</label>
        <input type="number" class="form-control" id="episodes" name="episodes" value="" placeholder="2004" min="1" autofocus required />
        <div class="invalid-feedback">Please provide a valid number of episodes.</div>
      </div>
      <div class="col-6 ps-2">
        <label for="rating" class="form-label fw-medium">Rating</label>
        <input type="text" class="form-control" id="rating" name="rating" value="" placeholder="10/10" autofocus required />
        <div class="invalid-feedback">Please provide a valid rating.</div>
      </div>
      <div class="col-6 ps-2 mb-3">
        <label for="status" class="form-label fw-semibold">Status</label>
        <select class="form-select" name="status" required>
          <option value="" selected disabled>Select status</option>
          {% for status in statuses %}
          <option value="{{ status.label }}">{{ status.label }}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">Please select a status.</div>
      </div>
      <div class="col-6 ps-2">
        <label for="studio" class="form-label fw-semibold">Studio</label>
        <select class="form-select" name="studio_id" required>
          <option value="" selected disabled>Select studio</option>
          {% for studio in studios %}
          <option value="{{ studio.id }}">{{ studio.name }}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">Please select a studio.</div>
      </div>
      <div class="col-6 ps-2 mb-3">
        <label for="image" class="form-label fw-medium">Images (url)</label>
        <input type="text" class="form-control" id="image" name="image" value="" placeholder="https://th.bing.com/xxxx" autofocus required />
        <div class="invalid-feedback">Please provide a valid image.</div>
      </div>
      <div class="col-6 ps-2">
        <label for="genres" class="form-label fw-medium">Genres</label>
        <select class="form-select" multiple name="genres" aria-label="Genres" required>
          {% for genre in genres %}
          <option value="{{ genre.name }}">{{ genre.name }}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">Please select at least one genre.</div>
      </div>
      <div class="col-6 ps-2">
        <label for="synopsis" class="form-label fw-medium">Synopsis</label>
        <textarea class="form-control" id="synopsis" name="synopsis" placeholder="synopsis..." autofocus required></textarea>
        <div class="invalid-feedback">Please provide a valid synopsis.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-success ms-2">Create Anime</button>
  </form>
</div>
{% endblock %}
