{% extends "starter.html" %} {% block header %}
<div class="text-center my-5">
  <h1 class="fw-medium">Explore Anime by Categories</h1>
  <p class="lead">Discover a world of anime sorted into various genres for your viewing pleasure.</p>
</div>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    {% for genre in global_genres %}
    <div class="col-md-4 mb-4">
      <a href="/enime-categories/{{ genre.id }}" class="text-decoration-none">
        <h6 class="button btn-success px-3 py-3 text-success">{{ genre.name }}</h6>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block js %}
<script>
  $(document).ready(function () {
    let typed = new Typed(".typed-text", {
      strings: ["Discover the best anime by genre.", "Find your next favorite series.", "Dive into a world of anime."],
      typeSpeed: 50,
      backSpeed: 50,
      loop: true,
    });
  });
</script>
{% endblock %}
