{% extends "starter.html" %} {% block header %}
<div class="owl-carousel owl-theme">
  <div class="item">
    <a href="/anime-detail/25">
      <img src="https://images3.alphacoders.com/134/1346859.png" class="img-hero rounded" width="100%" alt="Anime 1" />
      <div class="overlay"></div>
    </a>
  </div>
  <div class="item">
    <a href="/anime-detail/26">
      <img src="https://images.alphacoders.com/135/1357984.png" class="img-hero rounded" width="100%" alt="Anime 2" />
      <div class="overlay"></div>
    </a>
  </div>
  <div class="item">
    <a href="/anime-detail/28">
      <img src="https://images3.alphacoders.com/131/1319747.jpeg" class="img-hero rounded" width="100%" alt="Anime 3" />
      <div class="overlay"></div>
    </a>
  </div>
</div>
{% endblock %} {% block content %}

<div class="section-intro">
  <div class="row-md">
    <div class="col-md">
      <h2 class="fw-bold fs-4"><span class="typed-text"></span></h2>
    </div>
    <div class="col-md mt-3">
      <h5 class="fw-light">Here, you can find the best and most recommended anime sorted by categories. Dive into the fascinating world of anime and explore the endless possibilities. Enjoy your journey!</h5>
    </div>
  </div>

  <div class="section-recommended mt-5">
    <h3 class="fs-4 fw-bold py-5">Recommended <i class="bi bi-balloon-heart"></i></h3>
    <div class="row">
      {% for anime in global_animes %}
      <div class="col-md py-2">
        <a href="/anime-detail/{{ anime.id }}"><img src="{{ anime.image }}" class="img-top rounded" width="10" alt="Anime 2" /></a>
        <h6 class="fw-light mt-2"><b>{{ anime.title}} </b> {{anime.rating}}</h6>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %} {% block js %}

<script>
  $(document).ready(function () {
    var typed = new Typed(".typed-text", {
      strings: ["Welcome to Enime, Your Gateway to the Anime Universe!"],
      typeSpeed: 50,
      loop: true,
    });

    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: false,
      autoplay: true,
      autoplayTimeout: 5000,
      items: 1,
    });
  });
</script>
{% endblock %}
