{% extends "starter.html" %} {% block header %}
<div class="text-center my-5">
  <h1 class="display-4">Top Rated Anime</h1>
  <p class="lead">Explore the best anime with ratings above 8.</p>
</div>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    {% for anime in animes %}
    <div class="col-md-4 mb-4">
      <a href="/anime-detail/{{ anime.id }}" class="text-decoration-none text-dark">
        <div class="card">
          <img src="{{ anime.image }}" class="card-img" alt="{{ anime.title }}" />
          <div class="card-body">
            <h5 class="card-title">{{ anime.title }}</h5>
            <span class="badge bg-primary me-1">{{ anime.studio }}</span>
            <span class="badge bg-success me-1"><i class="bi bi-chat-square-heart"></i> &nbsp;{{ anime.rating }} / 10</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
